@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-color: #1A2430;
    font-size: 1rem;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, a {
    color: #fcfcfd;
    text-decoration: none;
}







/* RESPONDSIVE */

@media (max-width: 1024px) {
    /* .sideBar {
        background-color: rgba(33, 43, 56, 0.7);
        backdrop-filter: blur(10px);
    } */

    .navBar_Button a {
        display: none;
    }

    .sideBar {
        display: none;
    }

    .main {
        margin-left: 0px;
        padding-top: 64px;
    }
    
}


@media (min-width:1025px) {
    .navBar_Button i {
        display: none;
    }

    .main {
        margin-left: 280px;
        padding-top: 64px;
    }
}