.main_Container {
    padding: 8px;
    width: 100%;
}

.hero_Container {
    max-width: 1200px;
    display: block;
    margin: auto;
}

.hero_Container p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.hero_Container span {
    font-size: 0.9rem;
}

.hero_Container img {
    width: 100%;
    border-radius: 10px;
}

/* SHORT MENU */

.icon_shortCut {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon_List {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1.5px solid #fcfcfd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.shortCut_topic {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fcfcfd;
    font-size: 18px;
}


/*  */


.dropdown-menu li a {
    color: #fcfcfd;
}

.dropdown-menu {
    background-color: transparent;
}

.quickSearch_Button {
    background-color: #1A2430;
    border: 1px solid #fcfcfd;
    border-radius: 10px;
}

/*  */


.vipMenu_Icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1.5px solid #fcfcfd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.vipMenu_List {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CHECK IN ZONE */

.userCheckIn {
    padding: 0;
}

/* DESCRIPTION ZONE */

.description_Container {
    background-color: #212B38;
    padding: 0.5rem;
    border-radius: 10px;
}

.description_Container p {
    margin: 0;
}

/* GANG ZONE */

.gangTopic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toltallist {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.gangProfile {
    display: flex;
    flex-direction: column;
    padding: 8px;
    text-align: center;
    padding-top: 0px;
}   

.gangProfile img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 4.47px 4.47px 0px rgba(0, 0, 0, 0.25);
}

.gangProfile a {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #212B38;
    box-shadow: 0px 4.47px 4.47px 0px rgba(0, 0, 0, 0.25);
}

.gangProfile_Zone {
    padding-inline: 8px;
}


/*  */

.post_Card {
    padding: 0px;
    position: relative;
    min-width: 179px;
    min-height: 263px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post_Card img {
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
}

.post_Card_Detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.verify_IconPost {
    background-color: #F95979;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: black;
}

/* FOOTER */

.footer_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.footer_Logo img {
    width: 130px;
}

.footer_Link a {
    margin-inline: 20px;
}