.navBar {
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: #212B38;
}

.navBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navBar_container img {
    width: 130px;
}

.navBar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg,
    hsla(0, 0%, 0%, 0),
    hsl(210, 4%, 64%),
    hsla(0, 0%, 0%, 0));;
}

.btn_navBar_Login {
    background: linear-gradient(180deg, rgba(107, 119, 138, 1.00) 0%,rgba(75, 95, 113, 1.00) 100%); 
    text-shadow: 0px 0px 10px black;
    color: #fcfcfd;
    text-decoration: none;
    border-radius: 2rem;
    padding-inline: 1rem;
    padding-block: 0.3rem;
}

.btn_navBar_Signup {
    background: linear-gradient(180deg, rgba(0, 240, 154, 1.00) 0%,rgba(0, 179, 85, 1.00) 100%);     text-shadow: 0px 0px 10px black;
    text-shadow: 0px 0px 10px black;
    color: #fcfcfd;
    text-decoration: none;
    border-radius: 2rem;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    margin-left: 6px;
}

.navBar_Button a:hover {
    font-weight: bolder;
    color: rgb(0, 0, 0);
}