

.sideBar {
    position: fixed;
    width: 280px;
    height: 100%;
    left: 0;
    top: 64px;
    background-color: #212B38;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}

.sideBar_Container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 5rem;
    height: 100%;
}

.sideBar_Account {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    background-color: #1a2430;
    padding: 10px;
    border-radius: 10px;
}

.sideBar_Account img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #fcfcfd;
}

.sideBar_Account i {
    color: #fcfcfd;
    font-size: 1.5rem;
    margin-left: auto;
    cursor: pointer;
}

.sidebar_names {
    color: #fcfcfd;
}

.sideBar_Name {
    font-size: 1.2rem;
    margin-bottom: .25rem;
}
  
.sideBar_Mypost {
    font-size: 1rem;
}

.sideBar::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(0,
    hsla(0, 0%, 0%, 0),
    hsl(210, 4%, 64%),
    hsla(0, 0%, 0%, 0));
}

/* SIDEBAR LIST */


.sideBar_content {
    position: relative;
    overflow: auto;
    padding-top: 2rem;
  }

.sideBar_Content::-webkit-scrollbar {
    display: none;
}

/* .sideBar_Content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(0,
    hsla(0, 0%, 0%, 0),
    hsl(210, 4%, 64%),
    hsla(0, 0%, 0%, 0));
} */

.sideBar_list {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.sideBar_link {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 1.5rem;
    padding: 1rem;
    border-radius: .25rem;
    transition: background 0.4s;
}

.sideBar_link i {
    font-size: 1.25rem;
    color: #fbfbfd; 
    width: 28px;
}

.sideBar_link:hover {
    background-color: hsla(210, 4%, 99%, .1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    color: #fcfcfd;
}

.sideBar_title span {
    display: block;
    position: relative;
    margin-block: 2rem 1.5rem;
    text-align: center;
    color: rgba(0, 240, 154, 1.00);
    font-size: 19px;
}


.sideBar_title span::before, 
.sideBar_title span::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
}

.sideBar_title span::before {
  background: linear-gradient(90deg, 
            hsla(0, 0%, 0%, 0), 
            hsl(210, 4%, 64%));
  left: 0;
}

.sideBar_title span::after {
  background: linear-gradient(90deg, 
            hsl(210, 4%, 64%), 
            hsla(0, 0%, 0%, 0));
  right: 0;
}


/* Active link */
.active-link {
    background-color: hsla(0, 0%, 31%, 0.348);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

